@font-face {
  font-family: "Digital";
  src: url(font.ttf);
}

body {
  font-family: "Digital";
  background-color: #1b2021;
  color: #d8ac9c;
  text-align: center;
  font-size: 3vw;
}

h1,
h2 {
  margin: 2vh auto;
}

section {
  margin: 2vh auto;
  width: 80vw;
  border: 1px solid #5f939a;
  border-radius: 10px;
}

table {
  margin: auto;
}

#minText,
#secText,
#msText {
  width: 20vw;
}

#timer {
  font-size: 4em;
}

.btn,
.btn:hover {
  background-color: #d8ac9c;
  color: #1b2021;
  border-color: #5f939a;
  font-size: 1.5em;
}

.btn:hover {
  background-color: #eac8af;
}

#startBtn {
  width: 70%;
  margin-left: 5%;
}

#resetBtn {
  width: 20%;
}

.controls {
  position: absolute;
  padding: 1vh 0;
  bottom: 5vh;
  left: 0;
  right: 0;
}
