@font-face {
  font-family: "Digital";
  src: url(font.ttf);
}

body {
  font-family: "Digital";
  background-color: #1b2021;
  color: #d8ac9c;
  text-align: center;
}

section {
  margin: 2rem auto;
  width: 80%;
  border: 1px solid #5f939a;
  border-radius: 10px;
  padding: 1rem;
}

.btn,
.btn:hover {
  background-color: #d8ac9c;
  color: #1b2021;
  border-color: #5f939a;
}

.btn:hover {
  background-color: #eac8af;
}
