@font-face {
  font-family: digital;
  src: url(font.ttf);
}

section {
  text-align: center;
  margin: 2rem auto;
  width: 90%;
  border: 1px solid #023d6d;
  border-radius: 10px;
  padding: 1rem;
  color: #023d6d;
  font-family: digital;
}

button {
  font: inherit;
  background: red;
  color: white;
  border: 1px solid yellow;
  padding: 1rem;
  cursor: pointer;
}

button:focus {
  outline: none;
}

button:hover,
button:active {
  background: yellow;
  border-color: red;
  color: black;
}
